logs/
npm-debug.log
node_modules/
__build/
.idea/
run/
.DS_Store
static
appEnv.json
.vscode
resource.json
src/dll/
.cache/
target/
__build/
.DS_Store
*/.DS_Store
*/package-lock.json
yarn.lock
package-lock.json
.history/